.header {
  background-color: #5495ec;
  width: 100%;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 50px;
  pointer-events: stroke;
  cursor: pointer;
}
.header h1 {
  margin: 0;
  flex-grow: 1;
}
